<ion-tabs class="tabs-clear  tabs-icon-top  " >
    <ion-tab title="主页"  ui-sref=".home"  icon="ion-ios-home-outline" >
        <ion-nav-view name="home"></ion-nav-view>

    </ion-tab>

    <ion-tab title="分类"  ui-sref=".type" icon="ion-ios-search"  >
        <ion-nav-view name="type"></ion-nav-view>
    </ion-tab>

    <ion-tab title="购物车"  ui-sref=".sCar" icon="ion-ios-cart-outline"  >
        <ion-nav-view name="sCar"></ion-nav-view>
    </ion-tab>

    <ion-tab title="个人"  ui-sref=".mine" icon="ion-ios-person-outline"  >
        <ion-nav-view name="mine"></ion-nav-view>
    </ion-tab>
</ion-tabs>




